* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
Configuracion General
*/

nav{
  background: rgb(238, 238, 238);
  font-family: 'Alegreya', serif;
  border-radius: 30px;
  box-shadow: 7px 13px 37px #000;

}
nav a:hover{
  background: rgb(223, 223, 222);
  border-radius: 5%;
}

li{
  text-decoration: none;
  color: #83311d;
}

li:hover {
  background: rgb(223, 223, 222);
  border-radius: 5%;
}
a{
  font-size: 20px;
  font-weight: bold;
}
.menu {
  list-style-type: none;
  background: rgb(238, 238, 238);
  font-family: 'Alegreya', serif;
  border-radius: 30px;
  box-shadow: 7px 13px 37px #000;


}

h1{
  color: #83311d;
  text-align: center;
  font-family: 'Alegreya', serif;
  font-weight: bold;
}
h2{
  font-family: 'Alegreya', serif;
  font-weight: bolder;

}


body {
  background: #f5d2ad;
  font-family: "Fredoka", sans-serif;
  display: flex;
  flex-direction: column;
  color: #83311d;


}
main {
  display: flex;
  flex-direction: row;
}
section,
nav,
aside,
header,
.footer {
  padding: 1rem;
  margin: 0.5rem;
}

.footer-info, 
.footer-blog,
.footer-us,
.footer-index{
  text-align: center;
  margin-top: 50px;
  margin: 30px;
}

/*
Configuracion del index
*/

.scroll{
  height: 1500px;
}
.container{
  width: 100%;
  height: 80vh;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "header header header"
  "prod extras aside"
  "footer footer footer";
  gap: 10px;
}
.header{
  grid-area: header;
  border-radius: 30px;

}
.prod{
  grid-area: prod;
}
.extras{
  grid-area: extras;

}
.aside{
  grid-area: aside;
}

.footer{
  grid-area: footer;
  height: 150px;
  background: rgb(238, 238, 238);
  border-radius: 30px;
  box-shadow: 7px 13px 37px #000;

}
.footer-t{
  text-align: center;
  margin-top: 40px;
  height: 150px;
}
.burger {
  text-align: left;
  padding: 10px;
  width: 70%;
  margin: 10px;
}
.burger-index{
  padding: 10px;
  margin: 20px;
  border-radius: 5%;
  box-shadow: 7px 13px 37px #000;

}
.burger-index:hover{
  transform: scale(1.1, 1.1);

}


.text-index {
  text-align: right;
  height: 300px;
  width: 30%;
  padding: 10px;
  border: #c93e1b 5px solid;
  border-radius: 10%;
  font-family: "Fredoka", sans-serif;
  margin: 10px;
}
.header h1{
  backdrop-filter: blur(10px);
}
.glass{
  position: absolute;
  pointer-events: none;
  width: 300px;
  height: 200px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.2);
  background: transparent;
  backdrop-filter: blur(10px);
}

/*
configuracion de Blog
*/
.blog {
  width: 30%;
  margin: 5px;
  padding: 10px;
}
.nombre-info{
  font-family: "Fredoka", sans-serif;
  color: #000;
  text-align: center;
}
.mail-info{
  font-family: "Fredoka", sans-serif;
  color: #000;
  text-align: center;
}
/*
configuracion log-in
*/
.header-log{
  background: #f5d2ad;
  text-align: center;
  align-self: center;
  width: 400px;
  border-radius: 30px;
  box-shadow: 7px 13px 37px #000;
  position: absolute;
  top: 5%;
  left: 39.5%;


}
.logburg .banner{
  min-height: 100vh;
  background: url(./fotos/istockphoto-1215569804-612x612.jpg) no-repeat center
    center fixed;
  background-size: cover;
  filter: blur(5px);
  
}



.form-login {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 70px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  background: #f5d2ad;
  border-radius: 5%;
  position: absolute;
  top: 15%;
  left: 40%;
  
}


.form-login h3 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  font-size: 20px;
  border-bottom: 1px solid;
}

.controls {
  width: 100%;
  border: 1px solid;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #e7c9bf;
  font-weight: bold;
}

.buttons {
  width: 100%;
  height: 40px;
  border: none;
  margin-bottom: 16px;
}
.form-login p {
  height: 40px;
  text-align: center;
}
.form-login a {
  color: #83311d;
  font-family: 'Alegreya', serif;
  text-decoration: none;
}
.footer-log-in{
  width: 200px; 
  position: absolute;
  top: 90%;
  left: 41%;
}
/*
configurcion de registrarse
*/
.form-login-res {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 70px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  background: #fcd7b0;
  border-radius: 5%;
}
.form-login-res h3{
  margin-top: 10px;
  margin-bottom: 25px;
}
.buttons{
  border-radius: 30px;
  font-size: larger;
  color: white;
  font-family: 'Alegreya', serif;
  background: #83311d;
  font-weight:normal;

}
/*
configuracion info.html
*/
.nombre-info, 
.mail-info{
  padding: 10px;
  margin: 10px;
}
.info-form{
  width: 300px;
  margin: auto;
  margin-bottom: 70px;
  height: 420px;
  margin-top: 15px;
  box-shadow: 10px 15px 50px #000;
  border-radius: 5%;
  font-family: 'Alegreya', serif;
  color: #83311d;
  background: #f5d2ad;
}
.nombre-info{
  font-family: 'Alegreya', serif;
  color: #83311d;
  font-weight: bold;
}
.mail-info{
  font-family: 'Alegreya', serif;
  color: #83311d;
  font-weight: bold;
}
.btn-info{
  margin: auto;
  padding: 5px 55px;
}
.btn-info1{
  width: 150px;
  height: 30px;
  border-radius: 30px;
  background: #83311d;
  color: white;
  font-family: 'Alegreya', serif;
  font-size: 15px;
}
.footer-info{
  text-align: center;
}
.info-cont{
  display: inline-block;
}


@media only screen and (max-width: 1000px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header"
    "prod"
    "extras"
    "aside"
    "footer ";
    gap: 10px;
  }
  body{
    background-color: #c93e1b;
  }
}