.card1{
    background: url(/fotos/hamburguesa-2.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .card1:hover{
    transform: scale(1.05);
    box-shadow: 7px 13px 37px #000;

  }
.card1:hover .card-title1::after{
    transform: scaleX(1);
}
.card1:hover .card-content1{
    transform: translateY(0);
    transition-delay: 300ms;
}
.card1:hover .card-content1 >*:not(.card-title1){
    opacity: 1;
    transition-delay: 500ms;
}
/*----------CARTA 2---------*/
.card2{
    background: url(/fotos/hamburguesa-3.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card2:hover{
    transform: scale(1.05);
    box-shadow: 7px 13px 37px #000;
  }
.card2:hover .card-title1::after{
    transform: scaleX(1);
}
.card2:hover .card-content1{
    transform: translateY(0);
    transition-delay: 300ms;
}
.card2:hover .card-content1 >*:not(.card-title1){
    opacity: 1;
    transition-delay: 500ms;
}
/*----------CARTA 3---------*/

.card3{
    background: url(/fotos/hamburguesa-4.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card3:hover{
    transform: scale(1.05);
    box-shadow: 7px 13px 37px #000;
  }
.card3:hover .card-title1::after{
    transform: scaleX(1);
}
.card3:hover .card-content1{
    transform: translateY(0);
    transition-delay: 300ms;
}
.card3:hover .card-content1 >*:not(.card-title1){
    opacity: 1;
    transition-delay: 500ms;
}
/*----------CARTA 4---------*/

.card4{
    background: url(/fotos/h2.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card4:hover{
    transform: scale(1.05);
    box-shadow: 7px 13px 37px #000;
  }
.card4:hover .card-title1::after{
    transform: scaleX(1);
}
.card4:hover .card-content1{
    transform: translateY(0);
    transition-delay: 300ms;
}
.card4:hover .card-content1 >*:not(.card-title1){
    opacity: 1;
    transition-delay: 500ms;
}

/*----------CARTA 5---------*/

.card5{
    background: url(/fotos/h5.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card5:hover{
    transform: scale(1.05);
    box-shadow: 7px 13px 37px #000;
  }
.card5:hover .card-title1::after{
    transform: scaleX(1);
}
.card5:hover .card-content1{
    transform: translateY(0);
    transition-delay: 300ms;
}
.card5:hover .card-content1 >*:not(.card-title1){
    opacity: 1;
    transition-delay: 500ms;
}
/*----------CARTA 6---------*/

.card6{
    background: url(/fotos/h6.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card6:hover{
    transform: scale(1.05);
    box-shadow: 7px 13px 37px #000;
  }
.card6:hover .card-title1::after{
    transform: scaleX(1);
}
.card6:hover .card-content1{
    transform: translateY(0);
    transition-delay: 300ms;
}
.card6:hover .card-content1 >*:not(.card-title1){
    opacity: 1;
    transition-delay: 500ms;
}


/*----------CARTA 7---------*/

.card7{
    background: url(/fotos/h7.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card7:hover{
    transform: scale(1.05);
    box-shadow: 7px 13px 37px #000;
  }
.card7:hover .card-title1::after{
    transform: scaleX(1);
}
.card7:hover .card-content1{
    transform: translateY(0);
    transition-delay: 300ms;
}
.card7:hover .card-content1 >*:not(.card-title1){
    opacity: 1;
    transition-delay: 500ms;
}


/*----------CARTA 8---------*/

.card8{
    background: url(/fotos/h8.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card8:hover{
    transform: scale(1.05);
    box-shadow: 7px 13px 37px #000;
  }
.card8:hover .card-title1::after{
    transform: scaleX(1);
}
.card8:hover .card-content1{
    transform: translateY(0);
    transition-delay: 300ms;
}
.card8:hover .card-content1 >*:not(.card-title1){
    opacity: 1;
    transition-delay: 500ms;
}

/*----------Minutas---------*/

/*----------CARTA 1M---------*/

.card1m{
    background: url(/fotos/p1.png);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card1m:hover{
    transform: scale(1.05);
    box-shadow: 7px 13px 37px #000;
  }
.card1m:hover .card-title1::after{
    transform: scaleX(1);
}
.card1m:hover .card-content1{
    transform: translateY(0);
    transition-delay: 300ms;
}
.card1m:hover .card-content1 >*:not(.card-title1){
    opacity: 1;
    transition-delay: 500ms;
}

/*----------CARTA 2M---------*/

.card2m{
    background: url(/fotos/e1.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card2m:hover{
    transform: scale(1.05);
    box-shadow: 7px 13px 37px #000;
  }
.card2m:hover .card-title1::after{
    transform: scaleX(1);
}
.card2m:hover .card-content1{
    transform: translateY(0);
    transition-delay: 300ms;
}
.card2m:hover .card-content1 >*:not(.card-title1){
    opacity: 1;
    transition-delay: 500ms;
}

/*----------CARTA 3M---------*/

.card3m{
    background: url(/fotos/ac1.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card3m:hover{
    transform: scale(1.05);
    box-shadow: 7px 13px 37px #000;
  }
.card3m:hover .card-title1::after{
    transform: scaleX(1);
}
.card3m:hover .card-content1{
    transform: translateY(0);
    transition-delay: 300ms;
}
.card3m:hover .card-content1 >*:not(.card-title1){
    opacity: 1;
    transition-delay: 500ms;
}

/*----------CARTA 4M---------*/

.card4m{
    background: url(/fotos/f1.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card4m:hover{
    transform: scale(1.05);
    box-shadow: 7px 13px 37px #000;
  }
.card4m:hover .card-title1::after{
    transform: scaleX(1);
}
.card4m:hover .card-content1{
    transform: translateY(0);
    transition-delay: 300ms;
}
.card4m:hover .card-content1 >*:not(.card-title1){
    opacity: 1;
    transition-delay: 500ms;
}

