.controls {
    width: 100%;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #f5d2ad;
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #82311c 1px solid;
    outline: none;
    color: #82311c;
}