.controls {
    width: 100%;
    border: 1px solid;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #f5d2ad;
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
  }